@page "/"
@rendermode InteractiveServer

<PageTitle> All Students</PageTitle>
<div class="d-flex justify-content-between">
    <Heading/>
    <span><a  class="link-underline link-underline-opacity-0 link-secondary"href="/add">Add</a></span>
</div>



<table class="table table-striped border border-secondary-subtle border-1 mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody >
        @foreach(var student in students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Type</td>
                <td><a  @onclick:preventDefault="true" href="/register/@student.Id">Register</a></td>
            </tr>
        }
    </tbody>

</table>


@code {
    List<Student> students = Helper.GetStudents();    
}
