@page "/register/{Id:int}"
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Register Student</PageTitle>
<Heading Name="Register Student" Styles="mb-4 text-center bg-primary-subtle"/>
@* <p>@sucess</p> *@

<h3 class="mt-4 link-primary">@student!.FirstName - @student.Id</h3>
@foreach(var course in courses)
{
    <div class="input-group mb-3 p-2 mx-4 border border-secondary-subtle ">
        <div class="input-group-text mx-2">
            <input type="checkbox" class="form-check-input">
        </div>
        <span>@course.ToString()</span>
    </div>
}
<div class="form-group mx-4">
    <button type="submit" @onclick="BackToStudent" class="btn btn-primary me-2" >Register Student</button>
    <a  class="btn btn-secondary "href="/">Cancel</a>
</div>





@code {
    [Parameter]
    public int Id {get;set;}
    private List<Course> courses = Helper.GetCourses();
    private List<Student> students = Helper.GetStudents();
    public string sucess = "hello";
    private void BackToStudent()
    {
        sucess ="Button well Clicked";
    }
    

    
    private Student? student;

    protected override void OnInitialized()
    {
        student = students.FirstOrDefault(s => s.Id == Id);
        if(student == null)
        {
            Navigation.NavigateTo("/");
        }
    }

}
